@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
    /*   background-image: url("https://w0.peakpx.com/wallpaper/639/404/HD-wallpaper-%E2%80%A2%E1%83%A6%E2%9C%BF%E1%83%A6%E2%80%A2-art-fantasy-other-world-fantasy-land.jpg"); */
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#interactive-elems {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#search {
    display: flex;
    width: 45%;
    min-width: 400px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    align-self: center;
}

#button-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 10px;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}